:root {
  --accent: #4AD687;
  --bgcolor: #181818;
  --text-content: #e8f1ec;
  --constant: #6c6e6d;
  --white: #fff;
  --bg-box: #0f0f0f;
  --heading: 'Archivo Black', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  user-select: none;
}

body {
  height: 100%;
  background-color: var(--bgcolor);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--white);
  text-align: justify;
}

a {
  text-decoration: none;
}

p {
  word-break: keep-all;
  word-wrap: break-word;
}

.img-fluid {
  height: auto;
}

.custom-nav {
  color: var(--white);
}

.custom-nav:hover {
  color: var(--accent);
  transition: 0.3s;
}

.fa-github,
.fa-linkedin-in {
  color: var(--white);
}

.fa-github:hover,
.fa-linkedin-in:hover {
  color: var(--accent) !important;
  transition: 0.3s;
}

.devankshi {
  color: var(--accent);
  font-family: var(--heading);
}

.devankshi:hover {
  color: var(--accent);
  transition: 0.3s;
  border-bottom: 5px solid var(--accent);
}

.contact-btn {
  border: 2px solid var(--white);
  padding: 10px 25px;
  background-color: var(--white);
  color: var(--bgcolor);
}

.contact-btn:hover {
  color: var(--white);
  background-color: var(--accent);
  transition: 0.3s;
}

.box, .box-contact {
  border: 1px solid var(--constant);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--bg-box);
}

.box:hover {
  border: 1px solid var(--accent);
}

.box-contact:hover {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  transition: 0.3s;
}

.box-heading {
  font-size: 30px;
  color: var(--white);
}

.box p {
  margin: 5px;
}

hr {
  color: var(--accent);
}

.company-link {
  color: var(--white);
}

.company-link:hover {
  color: var(--accent);
  transition: 0.3s;
}

.project-link {
  color: var(--accent);
}

.project-link:hover {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
  transition: 0.3s;
}

.text-content {
  color: var(--constant);
}

.heading {
  font-size: 50px;
  font-family: var(--heading);
  color: var(--white);
}

.contact-heading {
  font-size: 20px;
  color: var(--white);
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: var(--white);
  border: 2px solid var(--white);
  cursor: pointer;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: var(--accent);
  color: var(--white);
  border: 2px solid var(--white);
  transition: 0.3s;
}

.change-mode {
  transition: 0.3s;
  --bgcolor: #fff;
  --text-content: #000;
  --white: #000;
  --bg-box: #fff;
}

.change-mode
.fa-arrow-up {
  color: white;
}

.change-mode
.fa-arrow-up:hover {
  color: black;
}

.change-mode
.container {
  background-color: var(--bg-color);
}

#darkmode_button {
  position: fixed;
  top: 70px;
  right: 40px;
  z-index: 99;
  font-size: 18px;
  cursor: pointer;
}