:root {
  /* --accent: #4AD687; */
  /* --accent: #fa9fb7; */
  --accent: #f26674;
  --bgcolor: #181818;
  --text-content: rgb(40, 40, 40);
  --constant: #6c6e6d;
  --white: #fcfcfc;
  /* --bg-box: #0f0f0f; */
  --bg-box: #ffe9eb;
  --heading: 'Archivo Black', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  user-select: none;
}

body {
  height: 100%;
  background-color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: var(--text-content);
  text-align: justify;
  /* cursor: url('cursors/finger-4.cur'), auto; */
}

a {
  text-decoration: none;
}

p {
  word-break: keep-all;
  word-wrap: break-word;
}

.img-fluid {
  height: auto;
}

/* a, #darkmode_button {
  cursor: url('cursors/grab-2.cur'), auto;
} */



.text-content {
  color: var(--text-content);
}

.heading {
  font-size: 50px;
  font-family: var(--heading);
  color: var(--accent);
}

.contact-heading {
  font-size: 20px;
  color: var(--bgcolor);
}



/***************** NAVBAR *****************/
#navbar {
  position: fixed;
  width: 100%;
  /* background-color: rgba(255, 144, 181, 0.2); */
}

#myName {
  font-family: 'Barriecito', cursive;
  color: var(--accent);
  font-size: 35px;
}

.custom-nav {
  color: var(--text-content);
  font-weight: bold;
}

.custom-nav:hover {
  color: var(--accent);
  transition: all .5s;
  transform: scale(1.2);
}

.contact-btn {
  border: 2px solid var(--accent);
  padding: 10px 25px;
  background-color: var(--white);
  color: var(--accent);
}

.contact-btn:hover {
  color: var(--white);
  background-color: var(--accent);
  transition: all .5s;
}

.fa-github,
.fa-linkedin-in {
  color: var(--text-content);
}

.fa-github:hover {
  color: #89929b !important;
  transition: 0.3s;
  transform: scale(1.5);
}

.fa-linkedin-in:hover {
  color: #0077b5 !important;
  transition: 0.3s;
  transform: scale(1.5);
}
/***************** NAVBAR *****************/



/***************** HOME *****************/
.devankshi {
  color: var(--accent);
  font-family: var(--heading);
}

.devankshi:hover {
  color: var(--accent);
  transition: 0.2s;
  border-bottom: 5px solid var(--accent);
}
/***************** HOME *****************/



/***************** WORK *****************/
.box, .box-contact {
  /* border: 1px solid var(--constant); */
  border-radius: 10px;
  padding: 20px;
  background-color: var(--bg-box);
}

/* .box:hover {
  border: 1px solid var(--accent);
} */

.box-contact:hover {
  /* border: 1px solid var(--accent); */
  background-color: var(--accent);
  transition: 0.3s;
}

.box-heading {
  font-size: 30px;
  color: var(--accent);
}

.box p {
  margin: 5px;
}

hr {
  color: var(--accent);
}

.company-link {
  color: var(--accent);
}

.company-link:hover {
  color: var(--bgcolor);
  transition: all .5s;
}

.project-link {
  color: var(--accent);
}

.project-link:hover {
  color: var(--accent);
  border-bottom: 2px solid var(--accent);
  transition: all .1s;
}
/***************** TECH *****************/



/***************** ABOUT *****************/
/* #myImageParent {
  position: relative;
  top: 0;
  left: 0;
}

#frame {
  position: relative;
  top: 0;
  left: 0;
  height: 400px;
}

#rotateMe {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid green;
  height: 380px;
} */
/***************** ABOUT *****************/



/***************** DARKMODE *****************/
.change-mode {
  transition: 0.3s;
  --bgcolor: #fcfcfc;
  --text-content: #fcfcfc;
  --white: #181818;
  --bg-box: #353333;
}

.change-mode
.fa-arrow-up {
  color: white;
}

.change-mode
.fa-arrow-up:hover {
  color: black;
}

.change-mode
.container {
  background-color: var(--bg-color);
}

#darkmode_button {
  position: fixed;
  /* top: 70px; */
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  /* cursor: pointer; */
}
/***************** DARKMODE *****************/