:root {
  --accent: #4AD687; /* or coral; */
  --bgcolor: #181818;
  --heading: 'Archivo Black', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  background-color: var(--bgcolor);
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
}

a {
  text-decoration: none;
}



/* nav */

.custom-nav {
  color: white;
}

.custom-nav:hover {
  color: var(--accent);
  transition: 0.3s;
  border-bottom: 2px solid var(--accent);
}



/* name in heading */

.devankshi {
  color: var(--accent);
  font-family: var(--heading);
}

.devankshi:hover {
  color: var(--accent);
  transition: 0.3s;
  border-bottom: 5px solid var(--accent);
}



/* contact button */

.contact-btn {
  border: 2px solid white;
  padding: 10px 25px;
  background-color: white;
  color:var(--bgcolor);
}

.contact-btn:hover {
  color: white;
  background-color: var(--accent);
  transition: 0.3s;
}



/* box */

.box, .box-contact {
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  background-color: #0f0f0f;
}

.box:hover {
  border: 1px solid var(--accent);
}

.box-contact:hover {
  border: 1px solid var(--accent);
  background-color: var(--accent);
  transition: 0.3s;
}

.box-heading {
  font-size: 30px;
  color: white;
}

.box p {
  margin: 5px;
}

hr {
  color: var(--accent);
}

.company-link {
  color: white;
}

.company-link:hover {
  color: var(--accent);
  transition: 0.3s;
}



/* all the main headings */

.heading {
  font-size: 50px;
  font-family: var(--heading);
  color: white;
}



/* about me */

#myphoto {
  height: 450px;
  width: 450px;
  border-radius: 50%;
}



/* contact and footer */

.contact-heading {
  font-size: 20px;
  color: white;
}

.box-body, .copyright {
  color: grey;
}



/* scroll to top */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: white;
  border: 2px solid white;
  cursor: pointer;
  border-radius: 50%;
}

#myBtn:hover {
  background-color: var(--accent);
  border: 2px solid white;
  transition: 0.3s;
}
